/* Subscribe */
.subscribe {
  padding-bottom: 0;
}

.subscribe__inner {
  max-width: 1160px;
  margin: 0 auto;
}

.subscribe__info {
  margin-bottom: 40px;
  text-align: center;

  .news__title,
  .subscribe__title {
    @extend .project__title;
  }
  
  .news__subtitle,
  .subscribe__subtitle {
    @extend .project__subtitle;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: 0 auto;

  .subscribe-email {
    padding: 18px;
    margin-bottom: 20px;
    font-weight: 800;
    text-align: center;
    border: none;
    border-radius: 50px;
    border: 4px solid $border-color;
    outline: none;
    color: $text-color;
    background: transparent;
    transition: border-color .2s ease-in-out;

    &::placeholder {
      color: $gray;
    }

    &:focus {
      border-color: rgba($primary-color, 0.7);
    }
  }
}

.ityped-cursor {
  font-weight: 400;
  animation: blink 0.4s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0%, to {
    color: transparent;
  }

  100% {
    color: $primary-color;
  }
}

@-webkit-keyframes blink {
  0%, to {
    color: transparent;
  }

  100% {
    color: $primary-color;
  }
}
